@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    background-image: linear-gradient(to bottom, rgba(2, 70, 91, 0.5), rgba(0, 0, 38, 0.5)), url('./assets/img/tienda.jpg');
    background-position: center;
    background-size: cover;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    padding: 1.5em;
    background-image: url(./assets/img/Klothes.jpg);
    background-position: left;
    background-size: cover;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.2);
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 0 0 0;
    /* width: 100%; */
    cursor: pointer;
    position: fixed;
}

.nav-links li {
    color: rgb(249, 91, 0);
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}

.nav-links li:hover {
    transform: scale(1.2);
}

.nav-links {
    color: rgb(249, 91, 0);
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

.nav-links:hover {
    color: rgb(150, 55, 0);
    display: inline-block;
}

.link1 {
    padding: 0 0 0 85px;
}

.link4 {
    padding: 0 40px 0 0;
}

.numeroHardcodeado {
    color: rgb(255, 14, 14);
}

.numeroHardcodeado:hover {
    color: rgb(202, 2, 2);
}

.brand {
    color: rgb(249, 91, 0);
    font-weight: 800;
    text-shadow: 1px 1px 2px black;
}

.greetings {
    font-size: 5em;
    color: rgb(249, 91, 0);
    border: 6px solid #000;
    border-color: rgb(249, 91, 0);
    text-shadow: 1px 1px 2px black;
}

.cart {
    height: 50px;
    transition: all 0.3s;
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 2px black;
}

.cart:hover {
    transform: scale(1.2);
}

.container {
    backdrop-filter: blur(5px);
    padding: 15px;
    box-shadow: 1px 1px 2px black;
}
